
/* MAIN HOME */

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(/Images/Layouts/KCLYNE-Banner.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

/* SEARCH PRODUCT SECTION */

.search-products{
    height: 60vh;
    background-color: #eee;
    display: flex;
}