

.success-message {
    position: absolute;
    width: 30%;
    top: 110px;
    left: 10px;

    text-align: left;
    background-color: rgb(194, 156, 156);
    padding: 10px;
    color: #fff;
    z-index: 9999;
    background: linear-gradient(to right, rgba(194, 156, 156, 1), rgba(232, 113, 33, 0));

    animation: fadeOut 6s ease-in-out forwards;
}

.success-message-admin {
    position: absolute;
    width: 30%;
    top: 50px;
    left: 90px;

    text-align: left;
    background-color: rgb(194, 156, 156);
    padding: 10px;
    color: #fff;
    z-index: 9999;
    background: linear-gradient(to right, rgba(194, 156, 156, 1), rgba(232, 113, 33, 0));

    animation: fadeOut 6s ease-in-out forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* LOGIN =======================================  */

    /* Admin */

    .admin-login-error p{
        font-size: 14px;
        padding: 5px;
        background-color: red;
        color: #fff;
        width: 300px;
    }

    .form-admin-login span{
        font-size: 14px;
        padding: 5px;
        background-color: red;
        color: #fff;
        width: 300px;
    }

    /* Customer */

    .customer-login-error p{
        font-size: 14px;
        padding: 5px;
        background-color: red;
        color: #fff;
        width: 300px;
    }

    .form-customer-login span{
        font-size: 14px;
        padding: 5px;
        background-color: red;
        color: #fff;
        width: 300px;
    }

/* REGISTER */

    /* Customer */

    .customer-register span{
        color: red; /* Set the text color to red */
        font-size: 11px; /* Adjust the font size */
        margin-top: 5px; /* Add some spacing above the error message */
        display: block; /* Ensure each error message appears on a new line */
        width: 90px;
        margin-left: 10px;
    }


/* CREATING PRODUCT ============================= */

.form-create-product .error{
    color: red; /* Set the text color to red */
    font-size: 11px; /* Adjust the font size */
    margin-top: 5px; /* Add some spacing above the error message */
    display: block; /* Ensure each error message appears on a new line */
    width: 90px;
    margin-left: 10px;
}