
/* PRODUCT MANAGEMENT DISPLAY ================================================= */

.products {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Horizontally center align items */
}

.row {
    width: 200px;
    height: auto;
    margin: 10px; /* Add margin between each row */
    border: 3px solid rgb(194, 156, 156);
}

.row img {
    width: 120px;
    height: auto;
    display: block; /* Ensures the image behaves like a block element */
    margin: 15px auto; /* Centers the image horizontally */
    
}

.row h3 {
    width: 100%;
    font-size: 15px;
    padding: 7px;
    text-align: center;
    background-color: rgb(194, 156, 156);
    color: #fff;
}


/* PRODUCT CUSTOMER DISPLAY =================================================== */