
/* PRODUCT SHOP DISPLAY ================================================= */

.product-shop{
    margin-top: 50px;
}

.display-product{

}

.product-shop .products {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Horizontally center align items */
}

.product-shop .row {
    width: 245px;
    height: 365px;
    margin: 10px; /* Add margin between each row */
    border: 3px solid rgb(194, 156, 156);
    transition: all 0.5s ease;
    z-index: 999;
    padding: 5px;
    display: flex; /* Add display flex to make product-info stretch */
    flex-direction: column; /* Stack child elements vertically */
}

.product-shop .row img {
    width: 120px;
    height: 120px;
    display: block; /* Ensures the image behaves like a block element */
    margin: 15px auto; /* Centers the image horizontally */
}

.product-shop .row h3 {
    width: 100%;
    font-size: 15px;
    padding: 7px;
    text-align: center;
    background-color: rgb(194, 156, 156);
    color: #fff;
    margin-bottom: 5px;
}

.product-shop .row:hover {
    scale: 98%;
}

.product-shop .product-info {
    padding: 7px;
    background-color: #ebebeb;
    flex: 1; /* Fill remaining space in the parent container */
    margin-bottom: 5px;
    height: 130;
}

.product-shop .product-info p{
    font-size: 12px;
}

.product-shop .product-info p[name='description'] {
    text-align: justify;
    font-size: 10px;
    height: 60px;
    overflow: hidden;
}

.product-shop .product-info .form-group{
    width: 100%;
    display: flex; /* Use flexbox to layout elements */
    flex-wrap: wrap; /* Allow elements to wrap to the next line if needed */
}

.product-shop label[name="Stat"]{
    font-size: 11px;
    font-weight: 800;
    width: 70%;
}

.product-shop .row .form-group-button {
    display: flex;
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.product-shop .row .form-group-button button {
    flex: 1; /* Make buttons take up equal space */
    margin-right: 5px; /* Add 5px right margin between buttons */
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s ease;
}

.product-shop .row .form-group-button button[name="update"] {
    border: 3px solid rgb(74, 83, 118);
    background-color: #fff;
    color: rgb(74, 83, 118);
    width: 112px;
}

.product-shop .row .form-group-button button[name="delete"] {
    border: 3px solid rgb(194, 156, 156);
    background-color: #fff;
    color: rgb(194, 156, 156);
    width: 112px;
}

.product-shop .row .form-group-button button[name="update"]:hover {
    border: 3px solid rgb(74, 83, 118);
    background-color: rgb(74, 83, 118);
    color: #fff;
    scale: 98%;
}

.product-shop .row .form-group-button button[name="delete"]:hover {
    border: 3px solid rgb(194, 156, 156);
    background-color: rgb(194, 156, 156);
    color: #fff;
    scale: 98%;
}

